$svg_wh: 16px;
$avatar_wh: 120px;

.form_avatar {
  .input_file {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    z-index: -10;

    &:focus + .avatar_wrapper {
      border: 1px solid var(--violet-dark);
    }
  }

  .avatar_wrapper {
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    width: fit-content;
    border: 1px solid transparent;

    .img_loading {
      width: $avatar_wh;
      height: $avatar_wh;
      background-color: var(--light-gray);
      border-radius: 1px solid transparent;
    }

    .change_btn {
      position: absolute;
      left: 14px;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--black);
      border: 1px solid #8e8e97;
      border-radius: 4px;
      padding: 4px;

      svg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $svg_wh;
        height: $svg_wh;
      }
    }
  }
}
