.files {
  max-height: 700px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: var(--bg);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--violet-dark);
    border-radius: 5px;
    transition: background-color 0.1s linear;

    &:hover {
      background-color: var(--violet-hover);
    }
  }
}
