$svg_wh: 22px;

.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  background-color: var(--black);
  padding: 15px;
  box-shadow: 0 0 10px 5px var(--light-gray);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;

    .user_info {
      display: flex;
      align-items: center;
      column-gap: 10px;

      & > span {
        font-size: 12px;
        line-height: 18px;
        font-weight: 700;
      }
    }

    .icon_close {
      cursor: pointer;
      width: $svg_wh;
      height: $svg_wh;
      fill: var(--light-dark);
      transition: fill 0.1s linear;

      &:hover {
        fill: var(--violet-dark);
      }
    }
  }

  .menu {
    .menu_list {
      font-size: 12px;
      line-height: 18px;
      font-weight: 500;

      li {
        cursor: pointer;
        margin-top: 5px;
        padding-left: 14px;
        border-radius: 15px;
        transition: background-color 0.2s ease-in;

        a {
          display: block;
        }

        &:hover {
          background-color: var(--highlighter);
        }
      }

      li:first-child {
        margin-top: 0;
      }

      li:last-child {
        color: var(--error);
        margin-top: 10px;
        transition:
          color 0.2s ease-in,
          background-color 0.2s ease-in;

        &:hover {
          color: var(--violet-dark);
        }
      }
    }
  }
}
