$svg_download_wh: 20px;

.file {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 72px calc($svg_download_wh * 2 + 10px);
  grid-auto-rows: auto;
  align-items: center;
  column-gap: 40px;
  font-size: 12px;
  padding: 10px 20px 10px 23px;
  background-color: var(--bg);
  border-radius: 30px;
  margin-bottom: 15px;
  color: var(--sea);
  transition:
    background-color 0.2s ease-in,
    color 0.2s ease-in;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background-color: var(--violet-dark);
    color: var(--light);
  }

  .file_name {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .file_date {
    text-align: center;
    font-size: 9px;
  }

  .buttons {
    display: flex;
    align-items: center;
    column-gap: 10px;

    svg {
      cursor: pointer;
      width: $svg_download_wh;
      height: $svg_download_wh;
      background-color: var(--light-gray);
      border-radius: 3px;
      transition: background-color 0.2s linear;

      &:hover {
        background-color: var(--violet);
      }
    }

    .icon_delete {
      fill: var(--light-dark)
    }

    .icon_download {
      padding: 2px;
      stroke: var(--light-dark);
    }
  }
}
