$svg_wh: 20px;

.file {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(118px, 200px) 72px calc($svg_wh * 2 + 6px);
  grid-auto-rows: auto;
  align-items: center;
  column-gap: 60px;
  font-size: 12px;
  padding: 10px 20px 10px 23px;
  background-color: var(--bg);
  border-radius: 30px;
  margin-bottom: 15px;
  color: var(--sea);
  transition:
    background-color 0.2s ease-in,
    color 0.2s ease-in;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background-color: var(--violet-dark);
    color: var(--light);
  }

  .file_name {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .file_add {
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .file_date {
    text-align: center;
    font-size: 9px;
  }

  .file_icons {
    display: flex;
    justify-content: space-between;

    .icon_forward,
    .icon_download {
      width: $svg_wh;
      height: $svg_wh;
      cursor: pointer;
    }

    .icon_forward {
      fill: var(--light-dark);
      transition: fill 0.2s linear;

      &:hover {
        fill: var(--violet);
      }
    }

    .icon_download {
      stroke: var(--light-dark);
      transition: stroke 0.2s linear;

      &:hover {
        stroke: var(--violet);
      }
    }
  }
}
