$svg_wh: 20px;

.file {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(118px, 200px) 72px $svg_wh;
  grid-auto-rows: auto;
  align-items: center;
  text-align: left;
  column-gap: 60px;
  font-size: 12px;
  padding: 10px 20px 10px 23px;
  background-color: var(--bg);
  border-radius: 30px;
  margin-bottom: 15px;
  color: var(--sea);
  transition:
    background-color 0.2s ease-in,
    color 0.2s ease-in;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background-color: var(--violet-dark);
    color: var(--light);
  }

  .file_name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .file_add {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .file_date {
    text-align: center;
    font-size: 9px;
  }

  .icon_download {
    cursor: pointer;
    width: $svg_wh;
    height: $svg_wh;
    padding: 2px;
    background-color: var(--light-gray);
    border-radius: 3px;
    stroke: var(--light-dark);
    transition: background-color 0.2s linear;

    &:hover {
      background-color: var(--violet);
    }
  }
}
