$avatar_wh: 60px;

.user_actions {
  // Фикс размера div
  font-size: 0;

  .avatar {
    position: relative;
    cursor: pointer;

    .img_loading {
      width: $avatar_wh;
      height: $avatar_wh;
      background-color: var(--light-gray);
    }
  }

  .buttons {
    display: flex;
    column-gap: 10px;

    .bnt_login,
    .bnt_register {
      font-size: 12px;
      padding: 5px 25px;
      border-radius: 15px;
    }

    .bnt_login {
      background-color: var(--bg);
      border: 1px solid var(--light);
      transition:
        background-color 0.2s linear,
        color 0.2s linear;

      &:hover {
        background-color: var(--light-dark);
        color: var(--black);
      }
    }
  }
}
