$svg_wh: 20px;
$border_radius_tr_br: 20px;

.form_search {
  position: relative;
  display: flex;
  z-index: 9;
  border-radius: 30px;

  .label {
    width: 100%;
    text-align: left;

    span {
      display: inline-block;
      font-size: 14px;
      line-height: 21px;
      font-weight: bold;
      margin-bottom: 7px;
      padding-left: 23px;
    }

    .search {
      display: flex;

      .input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .button {
        display: flex;
        align-items: center;
        border-radius: 0;
        border-top-right-radius: $border_radius_tr_br;
        border-bottom-right-radius: $border_radius_tr_br;
        background-color: var(--light-gray);
        padding: 10px 22px 10px 18px;
        transition: background-color 0.2s linear;

        &:hover {
          background-color: var(--violet);

          .icon_search {
            fill: var(--bg);
          }
        }

        .icon_search {
          width: $svg_wh;
          height: $svg_wh;
          fill: var(--light-dark);
          transition: fill 0.2s linear;
        }
      }
    }
  }
}
