.form_authentication {
  text-align: center;

  .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .button {
    width: 80%;
    margin-top: 45px;
  }
}
