@use "@/utils/scss/values" as values;

.input {
  text-align: left;

  label {
    span {
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 7px;
      padding-left: values.$input_padding_left;
    }
  }
}
