@use "@/utils/scss/values" as values;

.form_authentication {
  display: grid;
  align-content: space-between;
  width: 420px;
  justify-items: center;
  padding: 28px 32px;
  background-color: var(--black);
  border-radius: values.$main_border_radius;

  .wrapper {
    text-align: center;
    width: 100%;

    .title {
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
      margin-bottom: 30px;
    }
  }

  .button {
    width: 80%;
    margin-top: 45px;
  }
}
