:root {
  --dark-sea: #576067;
  --violet: #8b57c6;
  --violet-dark: #6c3eb8;
  --light: #f6f6f7;
  --sea: #616e74;
  --black: #191919;
  --light-dark: #b8b8b8;
  --bg: #212123;
  --input-text: rgb(195, 195, 195);
  --error: #bc1a1a;
  --overlay: rgba(33, 33, 35, 70%);
  --highlighter: #ffffff12;
}
