@use "@/utils/scss/patterns";
@use "@/utils/scss/values" as values;

.forward {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 718px;
  padding: 15px 50px 20px;
  background-color: var(--black);
  border-radius: values.$main_border_radius;
  @extend %shadow_modal;

  .title {
    font-size: 20px;
    margin-bottom: 25px;
    @extend %title_border;
  }

  .select_friends {
    display: flex;
    text-align: left;
    column-gap: 60px;
    margin-top: 40px;

    .subtitle {
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .my_friends {
      width: 50%;

      .subtitle {
        margin-left: 23px;
      }

      .list_my_friends {
        max-height: 550px; //Надо что-то с этим делать
        overflow-y: scroll;

        .checkbox_friend {
          margin: 0 15px 15px 0;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &::-webkit-scrollbar {
          width: 8px;
          border-radius: 2px;
          background-color: var(--bg);
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 2px;
          background-color: var(--violet-dark);
          transition: background-color 0.1s linear;

          &:hover {
            background-color: var(--violet-hover);
          }
        }
      }
    }

    .selected_friends {
      width: 50%;

      .list_selected_friends {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
    }
  }

  .buttons {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
}
