@use "@/utils/scss/values" as values;

.login_form {
  width: 420px;
  padding: 28px 32px;
  background-color: var(--black);
  border-radius: values.$main_border_radius;
  
  .input_field {
    width: 100%;
    text-align: left;
    margin-bottom: 16px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}
