@use "@/utils/scss/patterns";
@use "@/utils/scss/values" as values;

.profile {
  text-align: center;
  width: 800px;
  background-color: var(--black);
  padding: 15px 50px 25px;
  border-radius: values.$main_border_radius;

  .title {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    @extend %title_border;
  }

  .settings {
    display: flex;
    justify-content: space-between;

    .form {
      width: 50%;
    }

    .preview {
      text-align: right;

      .preview_title {
        text-align: center;
        font-size: 12px;
        line-height: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
}
