@use "@/utils/scss/patterns";

.accessible_files {
  text-align: center;
  width: 1000px;
  padding: 15px 38px 30px 38px;
  background-color: var(--black);
  border-radius: 15px;

  margin-right: 20px;

  .title {
    margin-bottom: 25px;
    font-size: 20px;
    @extend %title_border;
  }

  .my_files_wrapper {
    display: flex;
    column-gap: 60px;
  }
}
